<div class="container">
  <div class="background left"></div>
  <div class="background right"></div>
  <div class="printer-card">
    <div class="title-bar">
      <span><img src="assets/kotlin.svg" width="10" style="margin-right: 10px;transform: scale(1.5);">Koto Sql Framework for Kotlin</span>
    </div>
    <div class="card-body">
    <pre [style.display]="'block'" [style.white-space]="'pre'" [style.line-height]="'5pt'">
<br>   _  __    K  ___ o _____   t  ___ o
<br>  |"|/ /     \/"_ \/|_ " _|   \/"_ \/
<br>  | ' /      | | | |  | |     | | | |
<br>K/| . \\o.-,_| |_| | /| |\.-,_| |_| |
<br>  |_|\_\  \_)-\___/ t |_|o \_)-\___/
<br>,-,>> \\,-.    \\   _// \\_     \\
<br> \.)   (_/    (__) (__) (__)   (__)
    </pre>
      <span [style.margin-right]="'5px'">{{prefix}}</span>
      <span *ngIf="!!banner" class="block"
            [style.width]="calcStrLength(banner)"
            [style.animation]="'go ' + banner.length * 0.05 + 's steps('+banner.length + '), off .5s step-end infinite alternate'"
      >{{banner}}</span>
      <div class="ctn-btn" (click)="next()">continue(Enter or Click here)<span>[y/n]</span></div>
    </div>
  </div>

  <div id="card-2">{{i18n.get("introduce")}}</div>

  <div class="cards">
    <div class="left">

      <div class="title">{{i18n.get("paragraphs")[0].title}}</div>
      <div class="content">
        <p *ngFor="let content of i18n.get('paragraphs')[0].contents">{{content}}</p>
      </div>
    </div>
    <div class="right">
      <ngx-monaco-editor (init)="editorInit($event)" [options]="editorOptions" [ngModel]="code1"></ngx-monaco-editor>
      <div class="mask" #mask1 (click)="mask1.remove()"></div>
    </div>
  </div>

  <div class="cards">
    <div class="left">
      <ngx-monaco-editor (init)="editorInit($event)" [options]="editorOptions" [ngModel]="code2"></ngx-monaco-editor>
      <div class="mask" #mask2 (click)="mask2.remove()"></div>
    </div>
    <div class="right">
      <div class="title">{{i18n.get("paragraphs")[1].title}}</div>
      <div class="content">
        <p *ngFor="let content of i18n.get('paragraphs')[1].contents">{{content}}</p>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="left">
      <div class="title">{{i18n.get("paragraphs")[2].title}}</div>
      <div class="content">
        <p *ngFor="let content of i18n.get('paragraphs')[2].contents">{{content}}</p>
      </div>
    </div>
    <div class="right">
      <ngx-monaco-editor (init)="editorInit($event)" [options]="editorOptions" [ngModel]="code3"></ngx-monaco-editor>
      <div class="mask" #mask3 (click)="mask3.remove()"></div>
    </div>
  </div>
  <div class="footer">
    copyright 2022, Powered By Angular/Material, Koto MIT
  </div>
</div>
