<div [style.transform]="startPageSrv.step === 5 ? 'rotateY(180deg)' : ''" class="container">
  <div id="nav-bar">
    <img draggable="false" src="assets/logo.png" id="logo"/>
    <a mat-raised-button color="primary" (click)="startPageSrv.step = 0">{{i18n.get('home')}}</a>
    <a mat-button (click)="startPageSrv.step = 5">{{i18n.get('docs')}}</a>
    <a mat-button (click)="startPageSrv.step = 6">{{i18n.get('quickStart')}}</a>
    <a mat-button (click)="startPageSrv.step = 7">{{i18n.get('api')}}</a>
    <a mat-button (click)="startPageSrv.step = 8">{{i18n.get('download')}}</a>
    <a mat-button (click)="startPageSrv.step = 9">{{i18n.get('codeGenerator')}}</a>
    <a mat-button style="float: right;">
      <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5701" width="200"
           height="200">
        <path
          d="M512 1024C229.222 1024 0 794.778 0 512S229.222 0 512 0s512 229.222 512 512-229.222 512-512 512z m259.149-568.883h-290.74a25.293 25.293 0 0 0-25.292 25.293l-0.026 63.206c0 13.952 11.315 25.293 25.267 25.293h177.024c13.978 0 25.293 11.315 25.293 25.267v12.646a75.853 75.853 0 0 1-75.853 75.853h-240.23a25.293 25.293 0 0 1-25.267-25.293V417.203a75.853 75.853 0 0 1 75.827-75.853h353.946a25.293 25.293 0 0 0 25.267-25.292l0.077-63.207a25.293 25.293 0 0 0-25.268-25.293H417.152a189.62 189.62 0 0 0-189.62 189.645V771.15c0 13.977 11.316 25.293 25.294 25.293h372.94a170.65 170.65 0 0 0 170.65-170.65V480.384a25.293 25.293 0 0 0-25.293-25.267z"
          fill="#C71D23" p-id="5702"></path>
      </svg>
    </a>
    <a mat-button style="float: right;">
      <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6774" width="200"
           height="200">
        <path
          d="M511.542857 14.057143C228.914286 13.942857 0 242.742857 0 525.142857 0 748.457143 143.2 938.285714 342.628571 1008c26.857143 6.742857 22.742857-12.342857 22.742858-25.371429v-88.571428c-155.085714 18.171429-161.371429-84.457143-171.771429-101.6C172.571429 756.571429 122.857143 747.428571 137.714286 730.285714c35.314286-18.171429 71.314286 4.571429 113.028571 66.171429 30.171429 44.685714 89.028571 37.142857 118.857143 29.714286 6.514286-26.857143 20.457143-50.857143 39.657143-69.485715-160.685714-28.8-227.657143-126.857143-227.657143-243.428571 0-56.571429 18.628571-108.571429 55.2-150.514286-23.314286-69.142857 2.171429-128.342857 5.6-137.142857 66.4-5.942857 135.428571 47.542857 140.8 51.771429 37.714286-10.171429 80.8-15.542857 129.028571-15.542858 48.457143 0 91.657143 5.6 129.714286 15.885715 12.914286-9.828571 76.914286-55.771429 138.628572-50.171429 3.314286 8.8 28.228571 66.628571 6.285714 134.857143 37.028571 42.057143 55.885714 94.514286 55.885714 151.2 0 116.8-67.428571 214.971429-228.571428 243.314286a145.714286 145.714286 0 0 1 43.542857 104v128.571428c0.914286 10.285714 0 20.457143 17.142857 20.457143 202.4-68.228571 348.114286-259.428571 348.114286-484.685714 0-282.514286-229.028571-511.2-511.428572-511.2z"
          p-id="6775"></path>
      </svg>
    </a>
    <a mat-button style="float: right;" [matMenuTriggerFor]="menu">
      <svg t="1664526091029" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
           p-id="1410" width="200" height="200">
        <path
          d="M678.016 726.016l137.984 0-70.016-185.984zM790.016 425.984l192 512-86.016 0-48-128-201.984 0-48 128-86.016 0 192-512 86.016 0zM550.016 642.005333l-34.005333 88.021333-132.010667-132.010667-214.016 212.010667-59.989333-59.989333 217.984-214.016q-80-88.021333-128-194.005333l86.016 0q41.984 80 98.005333 141.994667 91.989333-102.016 136.021333-228.010667l-477.994667 0 0-86.016 299.989333 0 0-84.010667 84.010667 0 0 84.010667 299.989333 0 0 86.016-125.994667 0q-52.010667 160-157.994667 278.016l-2.005333 2.005333z"
          p-id="1411"></path>
      </svg>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="i18n.currentLanguage = 'en-US';startPageSrv.step = startPageSrv.step - 1;next()">English</button>
      <button mat-menu-item (click)="i18n.currentLanguage = 'zh-CN';startPageSrv.step = startPageSrv.step - 1;next()">简体中文</button>
    </mat-menu>
  </div>
  <div class="background left"></div>
  <div class="background right"></div>
  <div class="printer-card">
    <div class="title-bar">
      <span><img src="assets/kotlin.svg" width="10" style="margin-right: 10px;transform: scale(1.5);">Koto Sql Framework for Kotlin</span>
    </div>
    <div class="card-body">
    <pre [style.display]="'block'" [style.white-space]="'pre'" [style.line-height]="'5pt'">
<br>   _  __    K  ___ o _____   t  ___ o
<br>  |"|/ /     \/"_ \/|_ " _|   \/"_ \/
<br>  | ' /      | | | |  | |     | | | |
<br>K/| . \\o.-,_| |_| | /| |\.-,_| |_| |
<br>  |_|\_\  \_)-\___/ t |_|o \_)-\___/
<br>,-,>> \\,-.    \\   _// \\_     \\
<br> \.)   (_/    (__) (__) (__)   (__)
    </pre>
      <span [style.margin-right]="'5px'">{{prefix}}</span>
      <span *ngIf="!!banner" class="block"
            [style.width]="calcStrLength(banner)"
            [style.animation]="'go ' + banner.length * 0.05 + 's steps('+banner.length + '), off .5s step-end infinite alternate'"
      >{{banner}}</span>
      <div class="ctn-btn" (click)="next()">continue(Enter or Click here)<span>[y/n]</span></div>
    </div>
  </div>

  <div id="card-2">{{i18n.get("introduce")}}</div>

  <div class="cards">
    <div class="left">

      <div class="title">{{i18n.get("paragraphs")[0].title}}</div>
      <div class="content">
        <p *ngFor="let content of i18n.get('paragraphs')[0].contents">{{content}}</p>
      </div>
    </div>
    <div class="right">
      <ngx-monaco-editor (init)="editorInit($event)" [options]="editorOptions" [ngModel]="code1"></ngx-monaco-editor>
      <div class="mask" #mask1 (click)="mask1.remove()"></div>
    </div>
  </div>

  <div class="cards">
    <div class="left">
      <ngx-monaco-editor (init)="editorInit($event)" [options]="editorOptions" [ngModel]="code2"></ngx-monaco-editor>
      <div class="mask" #mask2 (click)="mask2.remove()"></div>
    </div>
    <div class="right">
      <div class="title">{{i18n.get("paragraphs")[1].title}}</div>
      <div class="content">
        <p *ngFor="let content of i18n.get('paragraphs')[1].contents">{{content}}</p>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="left">
      <div class="title">{{i18n.get("paragraphs")[2].title}}</div>
      <div class="content">
        <p *ngFor="let content of i18n.get('paragraphs')[2].contents">{{content}}</p>
      </div>
    </div>
    <div class="right">
      <ngx-monaco-editor (init)="editorInit($event)" [options]="editorOptions" [ngModel]="code3"></ngx-monaco-editor>
      <div class="mask" #mask3 (click)="mask3.remove()"></div>
    </div>
  </div>
  <div class="footer">
    copyright 2022, Powered By Angular/Material, Koto MIT
  </div>
</div>
