<dynamic-page></dynamic-page>
<start-page></start-page>

<div *ngIf="startPageSrv.step >= 5" class="button-home">
  <button (click)="startPageSrv.step = 0" mat-fab color="primary" aria-label="home icon">
    <mat-icon>home</mat-icon>
  </button>
</div>
