<div class="left">
  <mat-toolbar color="primary">
    <span>{{i18n.get("codeGenerator")}}</span>
    <span class="spacer"></span>
    <mat-form-field appearance="fill" [style.margin-top]="'15px'" [style.margin-right]="'20px'">
      <mat-label>{{i18n.get('database')}}</mat-label>
      <mat-select [(ngModel)]="database" style="margin-left: 20px;font-size: 14px">
        <mat-option *ngFor="let db of databases" [value]="db">
          {{db}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button aria-label="icon-button with heart icon" (click)="generate()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button aria-label="icon-button with share icon" (click)="share()">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button aria-label="icon-button with share icon" (click)="download()">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button aria-label="icon-button with share icon" (click)="openDialog()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <div class="editor">
    <mat-selection-list *ngIf="current === 'database'">
      <mat-list-option *ngFor="let item of list.database" (click)="onDatabaseClick(item)">
        {{ item }}
      </mat-list-option>
    </mat-selection-list>
    <mat-selection-list #selectionList *ngIf="current === 'table'">
      <mat-list-option *ngFor="let item of list.table" (click)="onTableClick(selectionList, item)">
        {{ item }}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="generate()" id="tab_kotlin"
               [backgroundColor]="'primary'" [color]="'primary'">
  <mat-tab label="Pojo">
    <ngx-monaco-editor class="editor" (init)="editorInit($event, 1)" [options]="editorKotlinOptions"
                       [(ngModel)]="codes[1]"></ngx-monaco-editor>
  </mat-tab>
  <mat-tab label="Controller">
    <ngx-monaco-editor class="editor" (init)="editorInit($event, 2)" [options]="editorKotlinOptions"
                       [(ngModel)]="codes[2]"></ngx-monaco-editor>
  </mat-tab>
  <mat-tab label="Service">
    <ngx-monaco-editor class="editor" (init)="editorInit($event, 3)" [options]="editorKotlinOptions"
                       [(ngModel)]="codes[3]"></ngx-monaco-editor>
  </mat-tab>
</mat-tab-group>

<div class="button-home">
  <a routerLink="/" mat-fab color="primary" aria-label="home icon">
    <mat-icon>home</mat-icon>
  </a>
</div>

<div class="button-codegen2">
  <a routerLink="/code-generator" mat-fab color="primary" aria-label="keyboard icon">
    <mat-icon>keyboard</mat-icon>
  </a>
</div>

<div class="button-reload">
  <a (click)="ngOnInit()" mat-fab color="primary" aria-label="reload icon">
    <mat-icon>refresh</mat-icon>
  </a>
</div>
